@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        @apply text-white text-xl font-roboto;
        background-color: #10253B;
    }

    .app {
        height: calc(100vh);
    }

    header, header button {
        @apply justify-center;
        text-transform: uppercase;
        padding: .5rem;
        background-color: #10253B;
        text-align: center;
    }

    .btn {
        @apply mx-3;
        transition: background-color 0.5s ease;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: #475569;
    }

    .banner {
        display: block;
    }

    main, .header-btns, .footer-btns {
        width: calc(100vh + 40px);
    }

    main {
        margin: 2rem auto 0 auto;
    }

    .add-match input {
        color: black;
    }

    .teams {
        width: 50%;
    }

    .date {
        width: 30%;
    }

    .state {
        width: 20%;
        text-align: right;
    }
}