@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        @apply bg-slate-700 text-amber-100 font-roboto;
    }
    .auth {
        padding: 1rem;
        border-radius: 8px;
    }
    .auth h1 {
        padding: 6px;
        display: table-cell;
        text-align: center;
        margin: 0 auto;
    }
    .auth-form div {
        display: table;
        margin: 2rem auto;
        padding: 0 1.5rem;
    }
    .auth-form span {
        display: table-cell;
        width: 35%;
        padding-right: 1rem;
    }
    .auth-form input {
        display: table-cell;
    }
}